name: c-i

on:
  push:
    branches: [ 'main' ]
  pull_request:
    branches: [ 'main' ]

permissions:
  contents: read

jobs:
  test:
    name: Test Projects
    runs-on: ubuntu-latest

    steps:
    - uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
      with:
        egress-policy: audit

    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: chainguard-dev/actions/apt-faster@b1933e3d1f574c772dc7efd68c2060dafbc25e8c # v1.4.9
    - uses: chainguard-dev/actions/setup-melange@b1933e3d1f574c772dc7efd68c2060dafbc25e8c # v1.4.9

    - name: Set up Go
      uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
      with:
        go-version-file: './go.work'
        cache-dependency-path: '**/*.sum'

    - name: Setup shellcheck
      uses: ./.github/actions/shellcheck
      with:
        version: v0.10.0

    - name: shellcheck
      run: make shellcheck

    - name: Build
      run: make build

    - name: Test all projects
      run: |
        make test

    - name: Test in melange
      run: |
        make test-melange
